<div class="row marketing">
  <%= for post <- @posts do %>
    <div class="col-lg-12">
      <h4><%= link(post.title, to: post_path(@conn, :show, post.id)) %></h4>
      <p><%= post.content %></p>
    </div>
  <% end %>
</div>
