<h1>New Comment</h1>

<%= form_for @changeset, comment_path(@conn, :create), fn f -> %>
  <div>
    <%= label(f, :content) %>
    <%= textarea(f, :content) %>
    <%= hidden_input(f, :posts_id, value: @changeset.changes.posts_id) %>
  </div>

  <%= submit("Submit") %>
<% end %>
